/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image: url("../../src/application/bokeh.jpg")
}

.label {
	-fx-font-size: 12px;
}

.button {
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

#title {
	-fx-font-size: 25px;
	-fx-font-family: Arial;
	-fx-fill: #7F7220;
}

#mainTitle {
	-fx-font-size: 30px;
	-fx-font-family: Arial;
	-fx-fill: #7F7220;
}

#specialLabel {
	-fx-font-size: 17px;
	-fx-font-family: Arial;
	-fx-font-weight: bold;
	-fx-text-fill: #A99D4E; 
}